// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
);

.primary {
	@include span(60%);

	&.nofloat {
		float: none;
	}
	&.inline-block {
		float: none;
		display: inline-block;
	}
}
.secondary {
	@include span(30%);
	margin-left: span(5%);
}

.grid-section {
	@include span(30%);
}
.about-text-col {
	margin-right: span(5%);
}
@media only screen and (max-width: 768px) {
	.wrap {
		padding-left: 1em;
		padding-right: 1em;
	}
}
@media #{$tablet} {
	.grid-section {
		@include span(45%);
	}
}
@media #{$mobile} {
	.wrap, .global-wrap {
		display: block;
	}
	.primary {
		float: none;
		margin: 0 1rem;
		width: auto;
	}
	.secondary {
		float: none;
		margin: 0 1rem;
		padding-top: $default_padding*3;
		width: auto;
	}

	.grid-section {
		float: none;
		margin: 0;
		width: auto;
	}
}