body {
	background-image: url(../../img/sprinkles.png);
	background-repeat: repeat;
}
section {
	width: 100%;

	&.alt {
		@extend .padded-top;
		margin: 0;

		@media #{$mobile} {
			padding-top: $default_padding*2;
		}
	}
	.vert-align {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
}

.article-header {
	.byline, .entry-title {
		margin-bottom: 0.25em;
	}
}
iframe, object {
	width: 100%;
}