body {
	background-image: url(../../img/sprinkles.png);
	background-repeat: repeat;
}
section {
	// margin: 0 $default_padding;
	width: 100%;

	&.alt {
		@extend .padded-top;
		margin: 0;
	}
	.vert-align {
		display: inline-block;
		vertical-align: middle;
	}
}

.article-header {
	.byline, .entry-title {
		margin-bottom: 0.25em;
	}
}
iframe, object {
	width: 100%;
}