$background_color: 	#F5FFE4;
$foreground_color: 	#13140F;
$alt_foreground_color: #68776C;
$href_color: 				$foreground_color; 
$alt_href_color: 		#D4FF00;
$active_color: 			#00D6DD;

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $href_color;
$link-hover:        darken($href_color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$default_padding: 	1rem;