/*********************
SIDEBARS & ASIDES
*********************/

aside, .sidebar {}
	
	#instafeed figure {
		margin-bottom: 2em;

		figcaption {
			font-family: robotomediummedium_italic;
			font-size: 0.85em;
		}
	}
	.textwidget {
		margin-bottom: 3em;
	}
	.widgettitle {}

	.widget {
		margin-bottom: 4em;

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}