/*********************
FOOTER STYLES
*********************/

.footer {
	font-size: 0.95em;
	padding: $default_padding 0;
	clear: both;
	background-color: $black;
	color: $light-gray;

	a {
		color: $alt_href_color;

		&:hover, &:focus {
			color: $active_color;
		}
	}
	@media #{$mobile} {
		a {
			display: block;
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}