header[role=banner] {
	background-image: url(../../img/blurryWall.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: -3px 3px 6px $foreground_color;
	padding: 1em;
	position: relative;
	text-align: left;
}

.home {
	header[role=banner] {
		padding: $default_padding $default_padding $default_padding*3;
	}
	.site-logo-type {
		font-size: 3rem;
	}
	.site-tagline {
		display: block;
	}
}
a.site-logo {
	text-shadow: 2px 2px 4px $foreground_color;
	text-decoration: none;
}
	.site-logo-type {
		color: tint($background_color, 25%);
		text-decoration: none;
		font-family: $site_title_font;
		font-size: 3rem;
		line-height: 0.75;
		margin: 0.5em 0 0;
		text-transform: uppercase;

	}
	.site-tagline {
		color: tint($shaded_white, 10%);
		font-family: $site_title_font;
		font-size: 2.35rem;
		line-height: 1;
		margin: 0;
		display: none;
	}

@media #{$mobile} {
	.home {
		.site-logo-type {
			span {
				display: block;
			}
		}
	}
		.site-logo-type {
		  font-size: 2em;
		}
		.site-tagline {
			color: tint($background_color, 25%);
			font-size: 1.85em;
			word-wrap: normal;
		}
	}
