header[role=banner] {
	background-image: url(../../img/blurryWall.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: -3px 3px 6px $foreground_color;
	align-items: left;
	display: flex;
	justify-content: left;
	padding: $default_padding;
	position: relative;
	text-align: left;
}

.header #logo {
	font-family: $site_title_font;
	font-size: 3.75em;
	margin: 0.5em 0;
	text-transform: uppercase;

	a {
		color: tint($background_color, 25%);
		text-decoration: none;
	}
}
