.hero {
	padding: $default_padding*5 0;

	@media #{$mobile} {
		padding: $default_padding*4 0;
	}

	.hero-excerpt {
		margin-bottom: 1.5em;
	}
	.hero-links {
		h2, h3 {
			margin: 0;
		}
		.more-link {
		  font-size: 0.9em;
			float: none;
			display: inline-block;
			margin-top: 1.5em;
	  }
	}

	@media #{$desktop} {
		.hero-links {
			.more-link {
				display: block;
		  	float: right;
		  	margin: 0;
			}
		}
	}
}