.hero-article-list {
	li {
		margin-bottom: 1.5em;
	}
	&.widget {
		a {
			@extend .h3;
		}
	}
}
.recent-things {
	.recent-description {
		margin: 0;
	}
	&:nth-of-type(1) ul {
		margin-bottom: 4em;
	}
	li {
		display: block;
		margin-bottom: $default_padding;
	
		.recent-thing-title,
		.recent-thing-date {
			margin: 0;
		}

		a {
			color: $alt_href_color;
			// text-decoration: none;

			&:hover, &:focus {
				color: $active_color;
			}
		}
	}
	@media #{$mobile} {
		padding: $default_padding*2 $default_padding 0;
	}
}
.author-bio {
	margin-top: 5em;
	text-align: center;
	
	img {
		border-radius: 50%;
		margin-right: 2em;
	}
	.author-bio-text {
		text-align: left;
	}

	@media #{$mobile} {
		margin-top: 0;

		.author-bio-text {
			padding: 0 $default_padding;
		}
	}
}
.instagram-feed {
	@extend .padded-top;
	padding-bottom: $default_padding*4;
	text-align: center;
	
	h2 {
		margin-bottom: 1em;
	}
	.widget {
		text-align: center;
		width: 100%;
	}
	figure {
		display: inline-block;
		margin: 0.5em;
		position: relative;
		overflow: hidden;
		
		img {
			margin: 0;
		}
		figcaption {
			@extend .h2;
			background-color: rgba($foreground_color, 0.85);
			color: $background_color;
			margin: 0;
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-height: 306px;
			transition: 0.5s;
			display: flex;
		  align-items: center;
		  justify-content: center;

			span {
				padding: 1em;
			}
		}
		a {
			display: block;
			text-decoration: none;

			&:hover, &:focus {

				figcaption {
					opacity: 1;
				}
			}
		}
	}
	&:after {
		content: '';
		clear: both;
		display: block;
		overflow: hidden;
	}
}