.hero-article-list {
	li {
		margin-bottom: 1.5em;
	}
	&.widget {
		a {
			@extend .h3;
		}
	}
}
.recent-things {
	.recent-description {
		margin: 0;
	}
	&:nth-of-type(1) ul {
		margin-bottom: 4em;
	}
	li {
		display: block;
		margin-bottom: $default_padding;
	
		.recent-thing-title,
		.recent-thing-date {
			margin: 0;
		}

		a {
			color: $alt_href_color;

			&:hover, &:focus {
				color: $active_color;
			}
		}
	}
	@media #{$mobile} {
		// padding: $default_padding*2 $default_padding 0;
	}
}
.author-bio {
	margin-top: 5em;
	text-align: center;
	
	img {
		border-radius: 50%;
		margin-right: 2em;
	}
	.author-bio-text {
		text-align: left;
	}

	@media #{$mobile} {
		margin-top: 0;
		
		img {
			margin-right: 0;
		}
		.author-bio-text {
			font-size: 1.3em;
			padding: 0 $default_padding;
			margin-bottom: 3em;
			max-width: 480px;
			text-align: center;
		}
	}
}
.instagram-feed {
	padding: $default_padding*6 0 $default_padding*5;
	text-align: center;
	
	h2 {
		margin-bottom: 1rem;
	}
	.widget {
		text-align: center;
		width: 100%;
	}
	figure {
		font-size: 20px;
		img {
			margin: 0;
		}
		figcaption {
			font-size: 1.5rem;
		  line-height: 1.4em;
		  font-weight: 500;
		  font-family: $headline_font;
		  text-rendering: optimizelegibility;

			background-color: rgba($foreground_color, 0.85);
			color: $background_color;
			margin: 0;
			position: absolute;
			opacity: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: 0.5s;
			display: flex;
		  align-items: center;
		  justify-content: center;

			span {
				display: inline-block;
				padding: 1em;
				vertical-align: middle;
			}
		}
		a {
			display: block;
			position: relative;
			text-decoration: none;

			&:hover, &:focus {
				figcaption {
					opacity: 1;
				}
			}
		}
		@media #{$tablet} {
			figcaption {
				font-size: 1.25rem;
			}
		}
		@media #{$laptop} {
			figcaption {
				font-size: 1.45rem;
			}
		}
		@media #{$mobile} {
			&:nth-child(n+6){
				display: none;
			}
		}
	}
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	@media #{$mobile} {
		// padding: $default_padding*5
	}
}
@import "modules/photo_grid";