/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

@import "modules/navigation";
@import "modules/asides";
@import "modules/footer";
@import "modules/media";

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	height: 100%;
	margin: 0 auto;

	&:after {
		clear: both;
		content: '';
	}
}
section, .flexgroup {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: left;
	flex-wrap: nowrap;
}
/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
	.entry-content {
		/* at this larger size, we can start to align images */
		.alignleft, img.alignleft {
			margin-right: 1.5em;
			display: inline;
			float: left;
		}
		.alignright, img.alignright {
			margin-left: 1.5em;
			display: inline;
			float: right;
		}
		.aligncenter, img.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
			clear: both;
		}

	}
} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
	.wrap {
		width: 760px;
	}
} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
	.wrap {
	  width: 1040px;
	}

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	// styles in 2x.scss
	// @import "breakpoints/2x";

} // end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {

	// styles in print.scss
	@import "print";

}
